<header class="d-flex align-items-center sticky-top bg-black pb-3 border-bottom mt-2 row">

  <h1 class="col-6">Tweets</h1>

  <%= form_tag tweets_path, class:"col-6", autocomplete: "off", method: :get do %>
    <div class="search-wrapper rounded-5 px-2 py-1 d-flex flex-row">
      <%= label_tag :query, nil do %>
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <% end %>
      <%= text_field_tag :query, params[:query], placeholder: "Search", id: "query", class: "ps-0" %>
    </div>
    <%= submit_tag "", class: "search-btn d-none", data: { disable_with: "search" } %>
  <% end %>

</header>
