<header class="d-flex gap-5 align-items-center sticky-top bg-black pb-3 border-bottom mt-2">
  <h1 class="">Tweets</h1>
  <%= form_tag tweets_path, class:"w-25", method: :get do %>
    <div class="search-wrapper rounded-5 px-2 py-1">
      <%= label_tag :query, nil, class: "search-icon-label" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
      <%= text_field_tag :query, params[:query], placeholder: "Search", id: "query", class: "ps-0" %>
    </div>
    <%= submit_tag "", class: "search-btn d-none", data: { disable_with: "search" } %>
  <% end %>
</header>
