/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
}
body {
	scroll-behavior: smooth;
}

/* NAVBAR CSS */
aside {
	position: sticky;
	top: 25px;
	left: 0;
}
nav {
	margin-top: 30px;
}
nav .nav-icon {
	font-size: 20px;
}

@media (max-width: 720px) {
	.navbar {
		align-items: center;
	}
	.logo {
		text-align: center;
	}
}
@media (min-width: 720px) {
	.navbar {
		align-items: start;
	}
}

/* Search Bar CSS */
.search-wrapper {
	background-color: #202327;
	overflow: hidden;
}

.search-wrapper #query {
	background-color: #202327;
	box-shadow: none;
	border: none;
	margin-left: 10px;
}
#query:focus {
	outline: none;
	color: white;
}

.search-icon {
	color: #595a5c;
}
